@media (max-width: 760px) {
    /* body {
        background-color: lavender;
    } */

    /* header -m */

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;
        box-shadow: 2px 2px 5px #222;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }

    header .logo {
        display: none;
    }
    header .emblum {
        margin-top: 5px;
        width: 50px;
        height: 50px;
    }
    header ul {
        display: none;
    }

    header i {
        font-size: 30px;
        cursor: pointer;
    }
    header i.on {
        opacity: 0;
    }

    /* visual-m */

    /* visual */

    #visual {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    #visual h2 {
        font-family: var(--main-font);
        text-align: center;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }
    /* .splitting .char {
        animation: slide-in 1s cubic-bezier(0.5, 0, 0.5, 1) both;
        animation-delay: calc(60ms * var(--char-index));
    }
    @keyframes slide-in {
        from {
            transform: translateY(-1em) rotate(0.5turn) scale(0.5);
            opacity: 0;
        }
    } */
    #visual .keyword {
        width: 100%;
        position: absolute;
        top: 50px;
    }
    #visual .front {
        z-index: 10;
        font-size: 80px;
    }
    #visual .back {
        color: brown;
        font-size: 80px;
        position: absolute;
        top: 83px;
        left: 240px;
    }
    #visual p {
        position: absolute;
        bottom: 200px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 30px;
        text-transform: capitalize;
        white-space: nowrap;
        color: transparent;
    }

    #visual p::before {
        content: "변화를 두려워하지않고 끊임없이 배우며 성장하는 정희윤 입니다.";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #000;
        border-right: 3px solid #000;
        animation: typing 5s steps(34);
        overflow: hidden;
        animation-delay: 1.3s;
    }

    @keyframes typing {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    #visual svg {
        width: 1000px;
        position: absolute;
        top: 50%;
        left: 400px;
        transform: translate(-50%, -50%);
    }
    .st0 {
        stroke-dasharray: 1442;
        stroke-dashoffset: 100;
        animation: move 2s linear;
    }

    @keyframes move {
        0% {
            stroke-dashoffset: 1442;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }

    /*nav -m*/

    nav {
        width: 100%;
        height: 100vh;
        background-color: var(--main-color);
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99;
        margin: 0px auto;
        display: none;
    }
    nav .close {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .close img {
        width: 200px;
    }
    nav .close i {
        font-size: 50px;
        cursor: pointer;
    }
    nav .menu {
        width: 390px;
        margin: 80px 50px;
        position: relative;
        overflow: hidden;
    }
    nav .menu li {
        height: 100px;
        cursor: pointer;
        margin: 50px 0px;
    }
    nav .menu li p {
        position: absolute;
        margin: -10px 0px;
        left: -80px;
        font-weight: bold;
    }
    nav .menu li h2 {
        position: absolute;
        left: 0;
    }
    nav .menu li.on h2 {
        transform: scale(1.1);
        left: 15px;
    }
    nav .menu li.on p {
        left: 0px;
        transition: 0.5s;
    }

    nav h2 {
        font-size: 70px;
    }
    .main {
        display: none;
    }

    /* container */

    /* #con1-m */
    #con1 {
        width: 100%;
        margin-bottom: 100px;
        padding-top: 100px;
        box-sizing: border-box;
    }
    .personal {
        width: 380px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        font-size: 16px;
        font-weight: bold;
        margin: 0px 80px 20px;
    }
    .personal li {
        width: calc(100% / 3 - 20px);
    }

    .about {
        width: 100%;
        text-align: center;
    }

    .idphoto img {
        width: 200px;
        border-radius: 100px;
    }

    .about h4 {
        font-size: 25px;
        margin: 20px 0px;
    }
    .about p {
        margin: 5px 0px;
    }

    .about small {
        margin-left: 65px;
    }
    .flow {
        width: 100%;
        background-color: var(--sub-color);
        position: absolute;
        bottom: 50px;
        display: flex;
        padding: 10px;
    }
    .flow div {
        animation: flow 20s infinite linear;
    }
    .flow div p {
        width: 200px;

        text-align: center;
    }
    .flow div:first-child {
        animation-delay: -20s;
    }
    @keyframes flow {
        0% {
            transform: translate(100%);
        }
        100% {
            transform: translate(-100%);
        }
    }
    .flow div {
        display: flex;
    }
    .flow p {
        font-size: 30px;
        margin: 0px 10px;
        color: #fff;
    }

    /* con2-m */
    #con2 {
        width: 100%;
        padding-top: 100px;
        background-color: #000;
        color: #fff;
        padding-bottom: 100px;
    }
    #con2 h2 {
        font-family: var(--main-font);
        font-size: 70px;
        text-align: center;
    }
    #con2 .index {
        display: none;
        /* display: flex;
        justify-content: center; */
    }
    #con2 .index li {
        display: flex;
        font-size: 16px;
        font-weight: bold;
        margin: 20px 0px;
    }
    #con2 .index li p {
        padding: 5px;
    }
    #con2 .index li span {
        margin: 5px 10px;
    }
    #con2 .index li.on p {
        /* border: 1px solid var(--main-color); */
        background-color: var(--sub-color);
        color: #fff;
        border-radius: 30px;
    }

    #con2 .portfolio {
        width: 100%;
        margin: 0px auto;
    }
    #con2 .portfolio li {
        display: flex;
        margin: 50px 0px;
        z-index: 10;
    }

    #con2 .txt_left {
        flex-direction: column;
    }
    #con2 .txt_right {
        flex-direction: column-reverse;
    }

    /* project-m */
    #con2 li .project {
        width: 100%;
    }

    .project .project_txt {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0px;
    }
    .project .project_txt h4,
    .project .project_txt p,
    .project .project_tool,
    .project_txt .view {
        display: none;
    }

    .project_txt .btn {
        width: 100px;
        height: 25px;
        text-align: center;
        border-radius: 30px;
        padding: 5px 0px;
        background-color: #fff;
    }
    .project_txt .btn a {
        display: block;
        color: #000;
    }
    .project_txt .btn i {
        margin: 0px 5px;
    }
    .project .project_tool {
        margin-top: 150px;
        font-size: 14px;
    }

    /* mokup-m */

    #con2 li .mokup {
        width: 95%;
        height: 450px;
        overflow: hidden;
        position: relative;
        border-radius: 30px;
        margin: 0px auto;
    }
    #con2 li .mokup img {
        width: 100%;
        height: 550px;
        cursor: pointer;
        transition: 2s;
    }

    #con2 li .mokup .click {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
    #con2 li .mokup .click p {
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #con2 li .mokup .click.on {
        display: block;
    }

    /* con3-m */
    #con3 {
        width: 100%;
        height: 750px;
        /* position: relative; */
        padding-top: 100px;
        overflow: hidden;
    }
    #con3 .design h2 {
        font-family: var(--main-font);
        font-size: 70px;
        text-align: center;
    }

    .ilust {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        /* position: absolute;
        bottom: 50px; */
        /* left: 0px; */

        /* animation: flow 40s infinite linear; */
    }
    /*.imgflow .ilust:first-child {
    animation-delay: -20s;
}
@keyframes flow {
    0% {
        transform: translate(100%);
    }
    100% {
        transform: translate(-100%);
    }
}*/

    .ilust li img {
        width: 220px;
        border-radius: 150px;
    }

    /* con4 */
    #con4 {
        width: 100%;
        position: relative;
        padding-top: 100px;
    }
    #con4 .contact {
        width: 100%;
        margin: 0px auto;
        text-align: center;
    }
    .contact h2 {
        font-size: 60px;
        font-family: var(--main-font);
        margin-bottom: 20px;
    }
    #con4 .con4_pic {
        width: 300px;
    }
    .snsicon {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
    }
    .snsicon li {
        width: calc(100% / 2);
        display: flex;
        align-items: center;
        margin: 10px 0px;
    }
    .snsicon img {
        width: 80px;
    }
    .snsicon div {
        width: 150px;
        height: 60px;
        border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* footer-m */
    footer {
        width: 100%;
        height: 200px;
        text-align: center;
        background-color: var(--main-color);
        color: #fff;
        padding-top: 50px;
        box-sizing: border-box;
    }
    footer img {
        width: 150px;
    }
    footer p {
        margin: 10px 0px;
    }
}
